@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

.force-hide-outline * {
  outline: none;
}

.prose * {
  background: inherit;
  color: rgba(var(--ctp-text));
  --tw-prose-bullets: rgba(var(--ctp-sky));
  --tw-prose-quote-borders: rgba(var(--ctp-green));
}

.prose em {
  color: rgba(var(--ctp-green));
}

.prose strong {
  color: rgba(var(--ctp-blue));
}

.text-editor-tools {
  @apply flex h-16 items-center gap-4 bg-surface1 px-4 py-2;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.text-editor-tools * {
  @apply flex;
}

.mdxeditor-popup-container * {
  @apply rounded-lg bg-surface2 p-2;
}

.mdxeditor-root-contenteditable {
  @apply box-border overflow-auto p-2;
  height: calc(100% - 4rem);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
